@charset "UTF-8"


{
    margin:10 px;
    padding: 10 px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none;
}

article{width: ;}

article ::after{
    content: 'esse artigo foi impreso ateasves do site www.curso em';
}